.cart
  padding: 50px 0
  max-width: 1150px
  margin: 0 auto
  display: flex
  position: relative
  &__items
    margin-bottom: 30px
  &__content
    width: calc(70% - 150px)
    margin-right: 150px
  &__order
    width: 30%
    top: 110px
    position: sticky
    align-self: start
  &__policy
    white-space: pre
    text-align: center
    font-size: 10px
    color: #828282
    line-height: 14px
    &-link
      font-size: 10px
      color: #4f4f4f
  &__present-img
    position: relative
    top: -2px
    margin-left: 5px
    height: 16px
  &__title
    width: 100%
    font-size: 12px
    margin-bottom: 35px
  &__form
    display: flex
    flex-wrap: wrap
  &__input
    align-self: flex-start
    width: 100%
    margin-bottom: 25px
    padding-bottom: 20px
    .input__error
    .input__placeholder
      font-size: 12px
  &__country
  &__city
    width: calc(65% - 30px)
    margin-right: 30px
    margin-bottom: 40px
  &__index
    margin-bottom: 40px
    position: relative
    width: 35%
    &:after
      font-size: 10px
      position: absolute
      height: 40px
      bottom: -40px
      display: flex
      align-items: center
      color: #828282
      line-height: 12px
      content: 'Введіть 00000, якщо у вашої країни немає індексу'
  &__delivery
    width: 100%
  &__street
    width: calc(60% - 40px)
    margin-right: 20px
    margin-bottom: 50px
  &__house
    margin-right: 20px
    width: 20%
  &__apartment
    width: 20%
  &__name, &__email
    margin-right: 15px
    width: calc(50% - 15px)
  &__surname, &__number
    margin-left: 15px
    width: calc(50% - 15px)
  &__comment
    width: 100%

@media (max-width: 1200px)
  .cart
    max-width: 950px
    &__content
      margin-right: 50px
      width: calc(65% - 40px)
    &__order
      width: 35%

@media (max-width: 992px)
  .cart
    padding: 0 15px
    &__content
      margin-right: 40px
      width: calc(65% - 40px)
    &__order
      width: 35%
    &__city
      margin-right: 15px
      width: calc(65% - 15px)
    &__street
      margin-right: 10px
      width: calc(54% - 20px)
    &__house
      width: 23%
      margin-right: 10px
    &__apartment
      width: 23%
    &__name, &__email
      margin-right: 5px
      width: calc(50% - 5px)
    &__surname, &__number
      margin-left: 5px
      width: calc(50% - 5px)

@media (max-width: 768px)
  .cart

@media (max-width: 576px)
  .cart
