.sign
  height: 100%
  justify-content: center
  padding: 130px 35px 0

  &__socials
    margin-top: 20px
    font-size: 10px
    &-text
      font-size: 11px
    &-items
      margin-top: 20px
      display: flex
    &-item
      &--last
        margin-left: 10px
  &__content
    &-top
      margin-bottom: 30px
      display: flex
      justify-content: space-between
    &-title
      font-size: 12px
    &-link
      cursor: pointer
      color: #828282
      font-size: 10px
  &__form
    &-footer
      margin-top: 30px
      display: flex
      flex-wrap: wrap
      padding-bottom: 20px
      border-bottom: 1px solid #e0e0e0
    &-button
      background-color: black
      border: none
      width: 200px
      height: 42px
      color: white
      font-size: 11px
      &--up
        width: 100%
    &-forget
      flex-grow: 1
      justify-content: center
      display: flex
      align-items: center
      font-size: 11px
      color: #828282
    &-text
      margin-top: 12px
      font-size: 10px
      color: #828282
      line-height: 15px
    &-line
