.shop-items-layout.layout
  padding: 60px 40px
  font-size: 11px
  display: flex
  .layout__page
    width: calc(100% - 230px)
    height: 5000px
  .layout__menu
    position: relative
    width: 200px
    margin-right: 30px

.shop-items-categories.categories
  margin-bottom: 50px
  .categories__link
    text-transform: uppercase
    display: block
    cursor: pointer
    margin-bottom: 25px
  .categories__link--active
      color: #bdbdbd

.shop-items-filters.filters
  .filters__sort
    .dropdown__children
      padding-left: 28px
  .filters__size
    .dropdown__children
      padding: 20px 0 20px 28px
  .filters__color
    .dropdown__children
      padding: 20px 0 20px 28px
  .filters__reset
    position: relative
    padding: 20px 0
    justify-content: start
    text-transform: uppercase
    width: 100%
    display: flex
    align-items: center
    .close
      margin-right: 14px
      width: 14px
      height: 14px
      position: relative
      &:after, &:before
        background-color: #828282

@media (max-width: 768px)
  .shop-items-layout.layout
    padding: 60px 20px
    .layout__menu
      display: none
    .layout__page
      width: 100%

@media (max-width: 576px)
  .shop-items-layout.layout
    padding: 60px 10px