.shop-items-layout.layout
  padding: 60px 40px
  font-size: 11px
  position: relative
  display: grid
  grid-template-columns: auto 1fr
  .layout__page
    grid-column: 2 / 3

.shop-items-layout-top.layout
  grid-column: 2 / 3
  font-size: 12px
  text-transform: uppercase
  margin-bottom: 30px
  display: flex
  .layout__show-filters
    text-transform: uppercase
    color: #828282
  .layout__space
    white-space: pre

.shop-items-layout-main.layout
  position: relative
  width: 200px
  margin-right: 30px
  height: 100%
  .layout__modal
    padding: 30px 20px
    width: 100%
    height: 100%
    overflow-y: auto
    -ms-overflow-style: none
    scrollbar-width: none
    &::-webkit-scrollbar
      display: none
    .modal-content__close
      top: 10px
      right: 10px

.shop-items-layout-top--mobile.layout, .shop-items-main--mobile.layout
  display: none

.shop-items-categories.categories
  margin-bottom: 50px
  .categories__link
    text-transform: uppercase
    display: block
    cursor: pointer
    margin-bottom: 25px
  .categories__link--active
    color: #bdbdbd


.shop-items-filters.filters
  .filters__reset
    position: relative
    padding: 20px 0
    justify-content: start
    text-transform: uppercase
    width: 100%
    display: flex
    align-items: center
    .close
      margin-right: 14px
      width: 14px
      height: 14px
      position: relative
      &:after, &:before
        background-color: #828282

  .filters__title--first
    margin-top: 0

.shop-items-filter-wrapper.filter
  margin-bottom: 30px
  .filter__title
    text-transform: uppercase
    margin-bottom: 20px
    font-weight: bold

@media (max-width: 992px)
  .shop-items-layout.layout
    padding: 40px 20px
    grid-template-columns: auto
    .layout__page
      width: 100%
      grid-column: 1 / 2

  .shop-items-layout-top.layout, .shop-items-layout-main.layout
    display: none

  .shop-items-layout-top--mobile.layout, .shop-items-layout-main--mobile.layout
    display: block

  .shop-items-layout-top--mobile.layout
    justify-self: end
    grid-column: 1 / 2
    margin-bottom: 30px
    display: flex

  .shop-items-filters.filters
    .filters__reset
      padding: 0

  .shop-items-categories.categories
    .categories__link
      margin-bottom: 15px

@media (max-width: 576px)
  .shop-items-layout.layout
    padding: 40px 10px