.shop-items
  font-size: 11px
  padding: 40px
  display: flex
  &__menu
    width: 200px
    &-list
    &-item
      cursor: pointer
      margin-bottom: 25px
  &__filters
  &__filter
    font-size: 10px
    padding-left: 28px
  &__sizes
    font-size: 10px
    padding: 20px 0 20px 28px
  &__sort-item
    padding: 15px 0
    border-bottom: 1px solid rgba(224,224,224,.4)
  &__size
    margin-bottom: 9px
  &__colors
    padding: 20px 0 20px 28px
  &__color
    margin-bottom: 15px
  &__price
    font-size: 10px
    padding: 20px 0
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &-input-block
      padding: 0 5px
      width: 95px
      height: 36px
      display: flex
      align-items: center
      border: 1px solid #efefef
      justify-content: space-between
    &-label
      color: #c7c7c7
    &-currency
      position: relative
      right: 0
      top: 0
      font-size: 12px
    &-input
      font-size: 11px
      border: none
      outline: none
      height: auto
      width: 40%
      text-align: center
      padding: 0
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
      &[type=number]
        -moz-appearance: textfield
