.reviews
  padding: 0 100px
  .reviews__title
    text-transform: uppercase
    font-size: 14px
    color: black
    margin-bottom: 10px
  .reviews__leave
    text-decoration: underline
  .reviews__modal
    height: auto
    padding: 24px
    width: 900px
    .modal-content__close
      top: 5px
      right: 5px
      width: 20px
      height: 20px

@media (max-width: 1200px)
  .reviews

@media (max-width: 991px)
  .reviews