.shop-item-preview
  width: 100%
  margin-bottom: 50px
  display: flex
  flex-direction: column
  &__img
    width: 100%
    cursor: pointer
    transition: 0.4s all
    &-wrapper
      position: relative
    &--hidden
      position: absolute
      top: 0
      left: 0
      opacity: 0
  &__bottom
    padding: 20px
  &__name
  &__price
    font-size: 13px
    margin-top: 10px
    color: #828282