.sidebar
  position: fixed
  width: 400px
  height: 100%
  top: 0
  z-index: 30
  background-color: white
  transition: 0.8s all
  &--top
    z-index: 100
  &--left
    left: -500px
    &--active
      left: 0
  &--right
    right: -500px
    &--active
      right: 0
  &__cross
    cursor: pointer
    height: 20px
    position: absolute
    top: 30px
    right: 20px
    &-line
      background-color: rgb(79, 79, 79)
      width: 20px
      height: 1.1px
      &:first-child
        transform: translateY(0.55px) rotate(45deg)
      &:last-child
        transform: translateY(-0.55px) rotate(-45deg)
  &--active
    opacity: .6
    visibility: visible
  &__back
    position: absolute
    top: 40px
    left: 40px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    cursor: pointer
    width: 15px
    height: 30px
    transform: translateY(-10px)
    &-line
      background-color: black
      width: 12px
      height: 1px
      &--first
        transform: translateY(-3.8px) rotate(-45deg)
      &--last
        transform: translateY(3.8px) rotate(45deg)

