.review-form.form
  width: 900px
  padding: 24px
  .form__button
    height: 40px
    width: 100%
    background-color: black
    color: white
    text-transform: uppercase
  .form__title
    font-size: 20px
    text-transform: uppercase
    text-align: center
    font-weight: 700
    color: black
    margin-bottom: 10px
  .form__descr
    margin-bottom: 20px
  .form__message
    margin-top: 5px

.review-form-block.form
  padding: 0
  display: grid
  grid-template-columns: 300px 1fr
  align-items: start
  margin-bottom: 30px
  .form__subtitle
    grid-column: 1 / 3
    font-size: 14px
    text-align: center
    margin-bottom: 20px
  .form__button
    grid-column: 2 / 3
    width: 140px
    height: 40px
    background-color: black
    color: white
    text-transform: uppercase
  .form__input
    margin-bottom: 10px
    .input__container
      padding: 5px 0
      border: 1px solid #e6e7e8
    .input__field, .input__textarea
      font-size: 11px
  .form__textarea
    .input__container
      height: 120px
  .form__label
    grid-column: 1 / 2
  .form__label--required
    &:after
      margin-left: 2px
      content: '*'
      color: red
  .form__message
    grid-column: 2 / 3

@media (max-width: 991px)
  .review-form.form
    width: 700px
  .review-form-block.form
    grid-template-columns: 150px 1fr
    .form__title

@media (max-width: 768px)
  .review-form.form
    width: auto
  .review-form-block.form
    grid-template-columns: 125px 1fr


@media (max-width: 576px)
  .review-form-block.form
    grid-template-columns: 1fr
    .form__subtitle, .form__button, .form__input, .form__label, .form__message
      grid-column: 1 / 2
    .form__label
      margin-bottom: 10px
    .form__descr
      margin-bottom: 20px