.search
  padding: 35px 41px
  &__title
    margin-top: 150px
    font-size: 12px
  &__input
    width: 100%
    margin-top: 20px
  &__icon
    top: 50%
    transform: translateY(-50%)
    right: 0
    position: absolute
  &__popular
    margin-top: 60px
    font-size: 12px
    &-title
      margin-bottom: 25px
    &-element
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
