.test-slider.test
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 100px
  .test__container
    width: 40%
  .test__button
    margin-top: 20px
    background-color: black
    width: 150px
    height: 50px
    color: white
    text-transform: uppercase

.test-new-model.test
  .test__button
    background-color: black
    color: white
    width: 150px
    height: 45px
    text-transform: uppercase

@media (max-width: 576px)
  .test-slider.test
    padding: 20px
    .test__container
      width: 100%