.test
  display: flex
  justify-content: center
  align-items: center
  .test__container
    display: flex
    height: 100%
  .test__element
    height: 100%
    width: 100%
    flex-shrink: 0
    display: none
  .test__element--first
    display: block

.test--mounted
  .test__element
    display: block