.admin-items.admin
  .admin__spinner
    .spinner__content
      border-color: transparent #828282 #828282 #828282

.admin-items-content.admin
  padding: 50px
  .admin__pagination
    width: 300px
    position: sticky
    bottom: 0
    z-index: 10
  .admin__button
    background-color: black
    color: white
    width: 140px
    text-transform: uppercase
    height: 40px
    margin-top: 20px
  .admin__last-item
    margin-bottom: 20px

.admin-items-table.table
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  margin-bottom: 20px
  align-items: center
  justify-items: start
  row-gap: 10px
  .table__col
    font-weight: 700
    text-align: start
    text-transform: uppercase
    margin-bottom: 20px