.admin-items
  &__list
    padding-bottom: 50px
    padding-top: 50px
    position: relative
  &__spinner
    .spinner__content
      border-color: transparent #828282 #828282 #828282
  &__pagination
    width: 300px
    position: sticky
    bottom: 0
    z-index: 10
  &__button
    background-color: black
    color: white
    width: 140px
    text-transform: uppercase
    height: 40px
    margin-top: 20px
  &__last-item
    margin-bottom: 10px