.spinner-v1.shop-items-spinner
  height: auto
  .spinner__content
    border-color: transparent black black black

.shop-items.items
  .items__not-found
    text-transform: uppercase
    margin-top: 20px

.shop-items-collection.collection
  display: grid
  grid-gap: 50px 5px
  grid-template-columns: 1fr 1fr 1fr

.shop-items-item.item
  .item__bottom
    padding: 20px
  .item__price
    font-size: 12px
    margin-top: 10px
    color: #828282

@media (max-width: 992px)
  .shop-items-collection.collection
    grid-template-columns: 1fr 1fr

@media (max-width: 768px)
  .shop-items-item.item
    .item__bottom
      padding: 10px 20px
    .item__price
      margin-top: 7px

@media (max-width: 576px)
  .shop-items-item.item