.sidebar
  position: fixed
  width: 400px
  height: 100%
  top: 0
  z-index: 30
  background-color: white
  transition: 0.5s transform
  overflow-y: auto
  -ms-overflow-style: none
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none
  &--top
    z-index: 300
  &--left
    left: 0
    transform: translateX(-600px)
    &--active
      transform: translateX(0)
  &--right
    right: 0
    transform: translateX(600px)
    &--active
      transform: translateX(0)
  &--active
    opacity: .6
    visibility: visible
  &__button
    right: 10px
    top: 20px
    height: 20px
    width: 20px
  &__back
    position: absolute
    top: 20px
    left: 30px
    width: 19px
    height: 19px
    display: flex
    align-items: center
    justify-content: center
    .arrow-back
      width: 9px
      height: 16px
      &:after, &:before
        border-right-width: 8px
        border-top-width: 8px
        border-bottom-width: 8px


@media (max-width: 576px)
  .sidebar
    width: 100%