.review-form-descr.descr
  color: rgba(0, 0, 0, .87)
  margin-bottom: 30px
  grid-column: 2 / 3
  line-height: 14px
  .descr__icon
    transform: translateY(3px)
    margin-right: 3px
    width: 14px
    height: 14px
    path
      fill: rgba(0, 0, 0, .58)
//  .descr__wrapper
//    height: 20px
//    display: flex
//    align-items: center
//    margin-right: 5px
//  .descr__text
//    line-height: 20px
//    display: inline-block
//.review-form-descr.descr.descr--last
//  margin-bottom: 10px
