.pagination
  z-index: 10
  bottom: 0
  position: sticky
  display: flex
  justify-content: center
  align-items: center
  height: 40px
  width: 100px
  background-color: black
  &__back
    &-arrow
  &__dorward
    &-arrow
  &__number
  &__ellipsis
    &-elem
  &__elem
    color: white
    font-size: 20px
    height: 30px
    width: 30px
