.shop-items-price-filter.price
  font-size: 10px
  padding: 20px 0
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  position: relative
  .price__block
    padding: 0 5px
    width: 95px
    height: 36px
    display: flex
    align-items: center
    border: 1px solid #efefef
    justify-content: space-between
  .price__label
    color: #c7c7c7
  .price__currency
    position: relative
    right: 0
    top: 0
    font-size: 12px
  .price__input
    margin-left: 10px
    .input__field
      font-size: 11px

@media (max-width: 992px)
  .shop-items-price-filter.price
    padding: 0 0 20px 0
    .price__block
      border: none
      padding: 0
      width: auto
      height: auto
    .price__label
      display: none
    .price__input
      margin-left: 0
      width: 50px