.service
  padding: 30px 40px
  font-size: 11px
  display: flex
  &__links
    color: #333
    margin-right: 45px
    display: flex
    flex-direction: column
  &__link
    margin-top: 24px
    &--first
      margin-top: 0
    &--active
  &__page
    width: 70%
  &__label
    font-weight: 700
    &--mb20
      margin-bottom: 20px
  &__title
    margin-bottom: 40px
  &__item
    margin-bottom: 5px
  &__subtitle
    width: 100%
    text-align: center
    margin-bottom: 20px
    font-weight: 700
    &--start
      text-align: start
      font-weight: 500
      margin-top: 30px
      margin-bottom: 20px
  &__text
    line-height: 15px
    white-space: pre-line
    margin-bottom: 30px
    &--policy
      padding-left: 10px
      margin-bottom: 15px
