.client-service
  padding: 30px 40px
  font-size: 11px
  display: flex
  &__links
    margin-right: 45px
    display: flex
    flex-direction: column
  &__link
    margin-top: 24px
    &--first
      margin-top: 0
    &--active
  &__page
    width: 70%
    &-title
    &-subtitle
    &-text