.search-page
  padding: 40px
  &__top
    display: flex
    align-items: center
    margin-bottom: 30px
  &__input
    width: 30%
  &__title
    margin-right: 50px
  &__results
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__item
    width: 24.7%