.shop-items-additional.additional
  margin-bottom: 50px
  padding: 0 40px

.shop-items-additional-block.additional
  .additional__title
    text-transform: uppercase
    font-size: 12px
    margin-bottom: 30px

@media (max-width: 992px)
  .shop-items-additional.additional
    padding: 0 40px


@media (max-width: 576px)
  .shop-items-additional.additional
    padding: 0 20px
