.review-form-main.main
  display: grid
  grid-template-columns: 300px 1fr
  align-items: start
  .main__star
    width: 16px
    height: 16px
    cursor: pointer
    margin-right: 5px
  .main__rating-stars
    margin-bottom: 30px
  .main__photo-btn
    width: 140px
    height: 40px
    border: 1px solid black
    margin-bottom: 5px
  .main__photo-icon
    width: 16px
    height: 16px
    margin-right: 10px
  .main__photo-descr
    grid-column: 1 / 3
    margin-bottom: 15px