.item-form
  width: 300px
  grid-template-columns: auto auto
  grid-template-rows: repeat(5, auto)
  position: relative
  display: grid
  &__block
    grid-column: 1 / 3
    margin-bottom: 50px
  &__title
    text-transform: uppercase
    font-size: 15px
    margin-bottom: 30px
  &__dropdown
    width: 300px
    margin-bottom: 20px
    .dropdown__top
      padding: 10px 0
    .dropdown__children
      padding: 10px
  &__input
    width: 300px
    margin-bottom: 20px
    .input__state--focused, .input__state--full
      .input__placeholder
        opacity: 1
        transform: translateY(-22px)
  &__radio
    .radio-group__elem
      margin-bottom: 10px
    &--color
      .radio-group__button
        &--active
          &:after
            width: 20.25px
            height: 20.25px
            border: 1px solid #4f4f4f
            background-color: transparent
  &__check
    margin-bottom: 10px
    .checkbox__label
      text-transform: uppercase
  &__textarea
    width: 300px
    margin-bottom: 30px
    .textarea__state--full, .textarea__state--focused
      .textarea__placeholder
        opacity: 1
        transform: translateY(-15px)
    .textarea__input
      min-height: 150px
  &__subtitle
    text-transform: uppercase
    font-size: 12px
    margin-bottom: 25px
  &__label
    text-transform: uppercase
    margin-top: 20px
    margin-bottom: 10px
  &__variant
    margin-bottom: 30px
  &__buttons
    width: 300px
    display: flex
    justify-content: space-between
  &__button
    background-color: black
    color: white
    width: 140px
    text-transform: uppercase
    height: 40px
    margin-bottom: 5px
    &--save
      z-index: 100
      bottom: 40px
      position: sticky
      justify-self: end
      grid-column: 2 / 3
  &__color
    width: 16px
    height: 16px
    border-radius: 50px
    position: absolute
  &__message
    position: sticky
    top: -10px

@media (max-width: 576px)
  .item-form
    width: 100%