.update-user
  display: grid
  grid-template-columns: 400px auto
  &__title
    color: #828282
    font-size: 12px
    text-transform: uppercase
    margin-bottom: 30px
  &__form
    width: 100%
  &__input
    margin-bottom: 20px
    .input__state--focused, .input__state--full
      .input__placeholder
        opacity: 1
        transform: translateY(-20px)
        font-size: 10px
  &__button
    text-transform: uppercase
    width: 100%
    height: 45px
    color: white
    background-color: black
    border-radius: 2px
    margin-top: 20px
  &__settings
    margin-left: 250px
    align-self: start
  &__setting
    &-title
      font-size: 12px
      text-transform: uppercase
      color: #828282
      margin-bottom: 30px
    &-btn
      display: flex
      align-items: center
      transform: translateX(-3px)
      &--email
        margin-bottom: 5px
    &-text
      color: #bd944d
      text-decoration: underline
      margin-left: 5px
    &-img
      height: 20px
  &__change-pass
    margin-bottom: 70px
  &__modal
    width: 430px
    padding: 50px
    &--pass
      height: 400px
      .update-user__modal-form
        grid-template-rows: repeat(5, 1fr) auto
    &--email
      height: 330px
      .update-user__modal-form
        grid-template-rows: repeat(4, 1fr) auto
    &--delete
      height: 270px
      .update-user__modal-form
        grid-template-rows: repeat(3, 1fr) auto
    &-form
      display: grid
      height: 100%
      align-items: start
    &-title
      text-transform: uppercase
      font-size: 12px
    &-btn
      margin-top: 0
      align-self: end
    .modal-content__close
      top: 10px
      right: 10px

@media (max-width: 1200px)
  .update-user
    &__other
      margin-left: 200px

@media (max-width: 992px)
  .update-user
    &__settings
      margin-left: 150px

@media (max-width: 768px)
  .update-user
    grid-template-columns: auto
    &__form
      width: 400px
      margin-bottom: 50px
    &__settings
      width: auto
      justify-self: start
      align-self: start
      margin-left: 0

@media (max-width: 576px)
  .update-user
    &__form
      width: 100%
    &__modal
      width: 100%
      padding: 50px 10px