.footer
  display: flex
  flex-wrap: wrap
  font-size: 11px
  &__social
    &-section
      padding: 20px 30px
      width: 100%
      display: flex
      justify-content: space-between
      border-bottom: 1px solid #e8e4e4
      border-top: 1px solid #e8e4e4
    &-items
      display: flex
    &-item
      display: flex
      align-items: center
      margin-right: 11px
      &:last-child
        margin-right: 0
    &-subscription
      width: 420px
      display: flex
      align-items: center
      &-text
        margin-right: 20px
  &__copyright
    &-section
      width: 100%
      padding: 20px 40px
      display: flex
    &-text
      font-size: 12px
    &-name
      margin-left: 10px
      font-size: 14px
      font-family: SeasonsLight, sans-serif
      font-weight: 600
    &-made-by
      margin-left: 40px
      color: #828282
      display: flex
      align-items: center

@media(max-width: 1200px)
  .footer
    font-size: 10px

@media(max-width: 992px)
  .footer
    &__social
      &-section
        display: flex
      &-subscription