.menu
  padding: 40px
  width: 100%
  &__items
    display: flex
    flex-direction: column
    align-items: flex-start
    a
      &:last-child
        margin-bottom: 0
    &--first
      margin-top: 70px
    &--second
      margin-top: 50px
  &__item
    text-transform: uppercase
    cursor: pointer
    color: #333
    font-size: 11px
    margin-bottom: 20px
    &--bold
      font-weight: 700

.service-menu
  padding: 120px 40px
  background-color: white
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  visibility: hidden
  opacity: 0
  transition: 0.5s all
  &--active
    opacity: 1
    visibility: visible
    display: block
  &__back
    cursor: pointer
    display: flex
    align-items: center
    margin-bottom: 20px
    font-weight: 700
    &-title
      font-weight: 700
      margin-left: 10px
      font-size: 11px
    &:hover
      .service-menu__arrow
        transform: translateX(-5px)
  &__arrow
    height: 12px
    width: 20px
    transition: 0.4s transform
    &:before
      left: 6px
      border-top: 6px solid transparent
      border-right: 7px solid black
      border-bottom: 6px solid transparent
    &:after
      left: 7px
      border-top: 6px solid transparent
      border-right: 7px solid white
      border-bottom: 6px solid transparent

@media (max-width: 992px)
  .menu
    padding: 20px
    &__link
      margin-bottom: 18px

@media (max-width: 576px)
  .menu
    &__link
      font-size: 10px
      margin-bottom: 15px
    &__item
      margin-bottom: 16px
    &__items
      margin-top: 60px
