.shop-item
  color: #4f4f4f
  padding: 20px 0
  &__content
    display: flex
    padding: 0 10%
    margin-bottom: 60px
  &__about
    padding-left: 50px
    width: 43%
    top: 80px
    position: sticky
    align-self: flex-start
  &__size
    text-transform: uppercase
  &__sizes
    margin-bottom: 40px
    &-modal
      background-color: white
      padding: 35px 24px
      width: 800px
      height: auto
      &--active
  &__present
    &-modal
      padding: 0
      width: 1050px
      height: 100%
    &-label
      text-transform: uppercase


@keyframes shake
  60%
    transform: rotate(-15deg)
  80%
    transform: rotate(15deg)
  100%
    transform: rotate(0deg)

@media(max-width: 1200px)
  .shop-item
    &__about
      width: 42%
      padding-left: 40px
    &__content
      padding: 0 3%
    &__present-modal
        width: 980px
        height: 95%

@media(max-width: 992px)
  .shop-item
    padding-top: 0
    &__content
      padding: 0
      flex-direction: column
    &__about
      padding: 0 40px
      width: 100%
      margin-top: 40px
    &__name
      font-size: 12px
      margin-bottom: 10px
    &__price
      font-size: 13px
    &__prices
    &__sizes
      margin-bottom: 25px
    &__present-modal
      width: 500px

@media(max-width: 768px)
  .shop-item
    &__sizes
      &-modal
        width: 95%

@media(max-width: 576px)
  .shop-item
    &__about
      padding: 0 20px
    &__present-modal
      width: 100%
      height: 100%