.shop-item
  color: #4f4f4f
  padding: 20px 0
  &__content
    padding: 0 200px
    display: flex
    margin-bottom: 60px
  &__about
    padding-left: 50px
    width: 43%
  &__sizes
    margin-bottom: 40px
    &-modal
      background-color: white
      padding: 35px 24px
      width: 800px
      height: auto
      &--active
  &__dropdown
    .dropdown__children
      white-space: pre-wrap
      padding: 10px
      line-height: 13px

@keyframes shake
  60%
    transform: rotate(-15deg)
  80%
    transform: rotate(15deg)
  100%
    transform: rotate(0deg)

@media(max-width: 992px)
  .shop-item
    &__sizes
      &-modal
        width: 700px

@media(max-width: 768px)
  .shop-item
    &__sizes
      &-modal
        width: 95%

@media(max-width: 576px)
  .shop-item
    &__sizes
      &-modal