.nav
  &__header
    padding: 0 40px
    width: 100%
    height: 80px
    display: flex
    align-items: center
  &__title
    width: 10%
    color: #9b3030
    display: flex
    justify-content: center
    font-family: SeasonsRegular, sans-serif
    font-size: 25px
  &__shop
    &-items
      width: 45%
      display: flex
      justify-content: flex-end
      a
        &:first-child
          img
            margin-left: 0
        &:last-child
          img
            margin-right: 0
    &-item
      cursor: pointer
      display: flex
      align-items: center
      margin: 0 5px
      height: 20px
.hamburger
  position: relative
  z-index: 100
  cursor: pointer
  width: 27px
  height: 30px
  display: flex
  flex-direction: column
  justify-content: center
  &-wrapper
    position: relative
    width: 45%
  &__line
    transition: 0.6s all
    width: 100%
    height: 1px
    margin-bottom: 5px
    background-color: black
    &:last-child
      margin-bottom: 0
  &--active
    span
      margin-bottom: 0
      width: 22px
      &:nth-child(1)
        transform: translateY(1px) rotate(45deg)
      &:nth-child(2)
        display: none
      &:nth-child(3)
        transform: rotate(-45deg)


