.nav
  height: 60px
  &--home
    height: 0
    .nav__header
      background-color: transparent
    .hamburger__line
      background-color: white
    .nav__title
      color: white
    .nav__shop-item

  &__header
    height: 60px
    padding: 0 40px
    width: 100%
    display: flex
    align-items: center
    background-color: white
    position: fixed
    z-index: 10
  &__title
    width: 10%
    color: #9b3030
    display: flex
    justify-content: center
    font-family: SeasonsRegular, sans-serif
    font-size: 25px
  &__shop
    &-items
      width: 45%
      display: flex
      justify-content: flex-end
      a
        &:first-child
          img
            margin-left: 0
        &:last-child
          img
            margin-right: 0
    &-item
      cursor: pointer
      display: flex
      align-items: center
      margin: 0 5px
      height: 20px
.hamburger
  z-index: unset
  position: absolute
  top: 50%
  transform: translateY(-50%)
  cursor: pointer
  width: 27px
  height: 30px
  display: flex
  flex-direction: column
  justify-content: center
  &-wrapper
    position: fixed
    z-index: 100
    height: 60px
    width: 45%
    padding-left: 45px
  &__line
    transition: 0.4s all
    width: 100%
    height: 1px
    margin-bottom: 5px
    background-color: black
    &:last-child
      margin-bottom: 0
  &--active
    span
      background-color: black!important
      margin-bottom: 0
      width: 22px
      &:nth-child(1)
        transform: translateY(1px) rotate(45deg)
      &:nth-child(2)
        display: none
      &:nth-child(3)
        transform: rotate(-45deg)

@media (max-width: 576px)
  .nav
    &__header
      padding: 20px 10px
    &__title
      font-size: 20px