.nav
  &__header
    z-index: 20
    height: 60px
    padding: 0 40px
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    align-items: center
    background-color: white
    position: fixed
  &__title
    grid-column: 2
    color: #9b3030
    display: flex
    justify-content: center
    font-family: SeasonsRegular, sans-serif
    font-size: 25px
  &__icons
    justify-self: end
    display: flex
    justify-content: flex-end
  &__icon
    cursor: pointer
    display: flex
    align-items: center
    margin: 0 5px
    height: 20px
    &--first
      margin-left: 0
    &--last
      margin-right: 0
  &__button
    background-color: transparent
    border: none
    padding: 0
  &__cart-btn
    position: relative
  &__cart-quantity
    font-size: 12px
    position: absolute
    left: 25px
    bottom: -2px

@media (max-width: 992px)
  .nav
    &__header
      height: 40px
    &__title
      font-size: 20px
    &__icon
      margin: 0 3px
      height: 18px
      &--first
        margin-left: 0
      &--last
        margin-right: 0
    &__cart-quantity
      left: 23px

@media (max-width: 576px)
  .nav
    &__title
      font-size: 18px
    &__icon
      height: 17px
    &__cart-quantity
      left: 21px
      bottom: -3px
      font-size: 11px