@font-face
  font-family: 'SeasonsLight'
  src: url(../public/fonts/SeasonsLight.ttf) format('truetype')
@font-face
  font-family: 'SeasonsRegular'
  src: url(../public/fonts/SeasonsRegular.ttf) format('truetype')
@font-face
  font-family: 'SeasonsBold'
  src: url(../public/fonts/SeasonsBold.ttf) format('truetype')


html, body, p, ul, h1, h2, h2
  padding: 0
  margin: 0

h1
  color: #4f4f4f

a
  color: inherit
  text-decoration: none

p
  margin: 0

*
  color: #4f4f4f
  line-height: 1
  box-sizing: border-box
  font-family: 'Helvetica', serif
  font-size: 11px


.list
  &--service
    padding-left: 10px
    margin-top: -12px
  &--pl-20
    padding-left: 20px
  &--pl-10
    padding-left: 10px
  &--mb-10
    margin-bottom: 10px
  &__item
    padding-left: 10px
    margin-bottom: 4px
    line-height: 14px
    position: relative
    &:before
      position: absolute
      left: 0
      display: block
      content: ""
      top: 6px
      width: 6px
      height: 1px
      background-color: #333333
    &--mb-2
      margin-bottom: 2px
    &--no-dash
      &:before
        display: none
  div
    &:last-child
      margin-bottom: 0

.page
  min-height: 550px

.fade
  opacity: 0
  transition: 0.4s opacity

.fade--show
  position: absolute
  opacity: 1

.text
  &--mb-10
    margin-bottom: 10px
  &--lh-15
    line-height: 15px
  &--mr-5
    margin-right: 5px

.close-btn
  background-color: transparent
  border: none
  position: absolute
  cursor: pointer
  padding: 0
  margin: 0
  height: 20px

.close
  height: 16px
  width: 16px
  background-color: transparent
  border: none
  position: absolute
  cursor: pointer
  z-index: 0
  &:after
    position: absolute
    top: 50%
    width: 100%
    height: 1.4px
    background-color: #555555
    transform: translateY(-50%) translateX(-50%) rotate(45deg)
    content: ''
  &:before
    position: absolute
    top: 50%
    width: 100%
    height: 1.4px
    background-color: #555555
    transform: translateY(-50%) translateX(-50%) rotate(-45deg)
    content: ''
  &--top-10
    top: 10px
    position: absolute
  &--right-10
    right: 10px
    position: absolute


.radio-button
  position: absolute
  opacity: 0
  z-index: 10
  margin: 0
  height: 16px
  width: 16px
  background-color: black

.plus
  position: relative
  &:after
    position: absolute
    height: 1px
    width: 100%
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    content: ''
    background-color: black
  &:before
    position: absolute
    width: 1px
    height: 100%
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    content: ''
    background-color: black

.minus
  position: relative
  &:after
    position: absolute
    width: 100%
    height: 1px
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    content: ''
    background-color: black

.delivery-type
  margin-top: 10px
  &__price
    color: #828282
    font-size: 12px
  &__duration
    margin-top: 5px
    color: #828282
    font-size: 12px