.list
  margin-bottom: 10px
  &--policy
    margin-top: -12px
  &__item
    padding-left: 12px
    line-height: 14px
    position: relative
    &:before
      position: absolute
      left: 0
      display: block
      content: ""
      top: 6px
      width: 6px
      height: 0.1px
      background-color: #333333
    &--no-dash
      &:before
        display: none
