.home
  position: relative
  height: 164vh
  background-image: url('../public/images/home/bg2.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  &:before
    opacity: 0.4
    content: ''
    top: 0
    left: 0
    background-color: black
    width: 100%
    height: 100%
    position: absolute

@media (max-width: 992px)
  .home
    background-position: 40% 50%
