.contacts
  padding: 100px 160px
  font-size: 12px
  margin-top: 20px
  &__first-section
    display: flex
  &__text
    width: 50%
  &__feedback
    width: 50%
  &__form
    width: 100%
    &-button
      width: 100%
      margin-top: 15px
      &-wrapper
        margin-top: 10px
  &__footnote
    margin-top: 10px
    font-size: 10px
    color: #828282
  &__title
    margin-bottom: 35px
    font-size: 12px
    font-weight: 500
  &__label
    margin-bottom: 8px
    &--main
      margin-bottom: 20px
  &__address
    &-elem

//@media(max-width: 1200px)
//@media(max-width: 992px)
//@media(max-width: 768px)
//@media(max-width: 576px)
